<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearingWare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearingWare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClearingWare.Properties.Settings.BNRCompConnectionString"
            connectionString="Data Source=jecjank-pc;Initial Catalog=BNRComp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.CB_CLEARINGConnectionString"
            connectionString="Data Source=JC-PC;Initial Catalog=CB_CLEARING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.CB_CLEARINGConnectionString1"
            connectionString="Data Source=jc-pc;Initial Catalog=CB_CLEARING;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.BNRCOMPConnectionString1"
            connectionString="Data Source=jc-pc;Initial Catalog=BNRCOMP;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.CB_CLEARINGConnectionString2"
            connectionString="Data Source=DESKTOP-0RIKN96;Initial Catalog=CB_CLEARING;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.CLEARING_TRANSITConnectionString"
            connectionString="Data Source=DESKTOP-0RIKN96;Initial Catalog=CLEARING_TRANSIT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.CLEARINGConnectionString"
            connectionString="Data Source=DESKTOP-0RIKN96;Initial Catalog=CLEARING;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ClearingWare.Properties.Settings.BNRCOMPConnectionString2"
            connectionString="Data Source=DESKTOP-0RIKN96;Initial Catalog=BNRCOMP;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ClearingWare.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value>BNRLIVE</value>
            </setting>
            <setting name="InterfaceStyle" serializeAs="String">
                <value>OfficeStyle.isl</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>172.16.16.112</value>
            </setting>
            <setting name="DefaultSAFUploadUser" serializeAs="String">
                <value>OPDIV4_010</value>
            </setting>
            <setting name="OraclePort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="OracleSchema" serializeAs="String">
                <value>CLEARING</value>
            </setting>
            <setting name="OracleHost" serializeAs="String">
                <value>10.22.73.52</value>
            </setting>
            <setting name="OracleSID" serializeAs="String">
                <value>EXP</value>
            </setting>
            <setting name="OracleUser" serializeAs="String">
                <value>clearing</value>
            </setting>
            <setting name="OraclePassword" serializeAs="String">
                <value>qMWulGAThGPUcKNPqLQf4A==</value>
            </setting>
            <setting name="OracleTNSName" serializeAs="String">
                <value>TNS</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
        </ClearingWare.Properties.Settings>
    </userSettings>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
  <applicationSettings>
    <ClearingWare.Properties.Settings>
      <setting name="ClearingWare_WebReference_CTSEndpoint" serializeAs="String">
        <value>http://10.99.96.99:8010/CTSPortal/services/CTSEndpoint</value>
      </setting>
      <setting name="ClearingWare_RubikonAPI_CTSEndpoint" serializeAs="String">
        <value>http://10.99.96.99:8008/CTSPortal/services/CTSEndpointPort</value>
      </setting>
      <setting name="ClearingWare_GTBankWS_AppDevService" serializeAs="String">
        <value>http://172.16.16.114/GTBTECHAPPDEV/appdevservice.asmx</value>
      </setting>
    </ClearingWare.Properties.Settings>
  </applicationSettings>
</configuration>
